= form_for [topic, post] do |f|
  - if post.errors.any?
    .alert.alert-danger
      %h4 There are #{pluralize(comment.errors.count, "errors")}
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg
  = form_group_tag(post.comments.new.errors[:body]) do
    = f.label :body
    = f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment body"

  = f.submit "Save", class: 'btn btn-success'