.row.pull-left
  .col-md-8
    .media
      - if @user.avatar?
        = image_tag @user.avatar.url, class: 'pull-left'
      .media-body
        %h2.media-heading
          = @user.name
        %small
          = pluralize(@user.posts_count, 'post')
<<<<<<< HEAD
          .js-comments-count= pluralize(@user.comments.count, 'comment')
=======
          .js-comments-count
            = pluralize(@user.comments_count, 'comment')
>>>>>>> comment-counter

.row
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#posts", "data-toggle" => "tab"} Posts
      %li
        %a{:href => "#comments", "data-toggle" => "tab"} Comments
    .tab-content
      #posts.tab-pane.active
        = render @posts
      #comments.tab-pane
        = render @comments